.root{
    -fx-background: #444
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-fill: #ffffff;
    -fx-effect: innershadow(three-pass-box , rgba(78, 78, 78, 0.6), 6, 0.0 , 0 , 2 );
}
.button{
    -fx-min-width: 200px;
    -fx-min-height: 25px;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#48ea6b, #2ea044);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2ea044, #48ea6b);
}
.progress-indicator{
    -fx-min-width: 60px;
    -fx-min-height: 60px;
}